* {
	box-sizing: border-box;
}

body {
	padding: 30px;
	margin: 0;
	font-family: 'Karla', sans-serif;
	height: 100vh;
}

form {
	width: 100%;
	margin: 0 auto;
}

.post-section {
	background-color: rgb(117, 124, 124);
	border-radius: 5px;
	padding: 15px;
	margin: 10px 0;
}

.post-title, .post-content {
	color: white;
}

b {
	display: flex;
	margin: 15px 0;
}

.create-new-button {
	margin-top: 20px;
}

.edit-button {
	margin-right: 15px;
}

.delete-button {
	background: red;
	color: white;
}

.save-post-button {
	display: flex;
	margin-top: 10px;
}

.cancel-post-button {
	display: flex;
	margin-top: 10px;
}

form-title {
	margin-bottom: 10px;
}

.section-label {
	margin-top: 5px;
}

textarea {
	min-width: fit-content;
}